@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.About-div {
    padding-top: 100px;
    background: linear-gradient(135deg, #f3ffe3, #d7f5e3);
}

.about-me {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #333;
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.image-des {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
    gap: 0px; /* Space between image and paragraph */
}

.image-des > div {
    flex: 1; /* Flex to distribute space between image and paragraph */
}

.image-des > div > img {
    width: 80%;
    margin: 0 20px 10px 150px;
    max-width: 250px; /* Control the maximum size of the image */
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 4px solid #a8e063; */
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image-des > div > img:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 20px;
}

.image-des > div > p {
    text-align: justify;
    /* margin: 20px 80px 10px 0px; */
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: #555;
    transition: color 0.4s ease;
    line-height: 1.6;
}

.image-des > div > p:hover {
    color: #1e90ff;
}

/* Other styles remain the same */
.resume-button {
    width: 190px;
    margin: 10px 10px 10px 40px;
    text-align: center;
}

.download-button {
    position: relative;
    border: none;
    color: #ffffff;
    padding:10px 10px 10px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    background: linear-gradient(135deg, #4c63af, #00C9FF);
}

/* Rest of your button styles */

@media screen and (max-width: 767px) {
    .image-des {
        flex-direction: column;
        gap: 20px; /* Adjust the gap for smaller screens */
        width: 85%;
        margin: 20px auto;
    }

    .image-des > div > img {
        width: 100%;
        max-width: 220px;
        margin: auto;
    }

    .image-des > div > p {
        font-size: 1.1rem;
        padding-right: 10px;
    }

    .resume-button {
        width: 120px;
        margin: auto;
        margin-top: 30px;
    }
}
